body{
    margin: 0;
    background-image: linear-gradient(to right, #6ddbb6 50%, #7fffd4 50%);
    background-size: 350px;
    background-position: center;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 0.5px;
    color: #111;
    overflow-x: hidden;

}

.mainWindow{
    width: 70vw;
    min-height: 75vh;
    background-color: #ffffffee;
    padding-bottom: 20px;
    margin: 5px;
    margin-top: 96px;
    
    border:2px solid #444;
    padding-left: 20px;
    padding-right: 20px;
}


#mainContainer{
    color:#444;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    margin: auto;
    align-items:center; 
    justify-content: center;
}

#stopkaInfo{
    width: 100vw;
    height: 24px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #3a725f;
    color: #fff;
    line-height: 24px;
    text-align: center;
    border-top:2px solid #444;
}

#playerInfo{
    width: 100vw;
    height: 64px;
    background-color: #fffe;
    position: fixed;
    top:0;
    right:0;
    
    border-bottom:2px solid #444;
}

#leftTop {
    width: 30%;
    height: 50px;
    padding: 6px;
}

.top {
    display: inline-block;
    
   margin-top:-18px;
    
}

#rightTop {
    width: 30%;
    height: 50px;
    padding: 6px;
    text-align: right;
}

#centerTop {
    text-align: center;
    height: 80px;
    padding-top: 25px;
    background-color: #53a589;
    width: 35%;
    border-radius: 25px;
    
    border:2px solid #444;
}

.arrow{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    margin-top: 3px;
    border-radius: 25px;
    background-color: #fffe;
    
    border:2px solid #444;
}

#leftArrow{
    left: 3%;
}

#rightArrow{
    right:3%;
}
.icon2 {
    width: 25px;
    height: 25px;
    margin: auto;
}



#matchInfo {
    display:flex;
    color: #111;
}

.matchTeam {
    display: grid;
    width: 30%;
}

.matchBadge {
    width: 100%;
}

.matchName {
    font-size: 13px;
}

#result {
    display: inline-flex;
    width: 40%;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    line-height: 50px
    
}

.goalsCounter {
    width:50%;
    font-size: 50px;
    margin:
}

.matchBadgeImg {
    width: 48px;
}

#matchAwayName {
    
}

.playerTeam {
    font-weight: 600;
    color:#900;
}

#centerMatchInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 70px;
}

#matchDateTime {
    font-size: 14px;
    line-height: 14px;
}

h2 {
    
}

.windowHeader {
    margin: 5px 0px;
    padding-left: 10px;
    margin-top:0px;
    display: block;
    border-bottom: 2px solid #444;
    padding-bottom: 3px;
    text-indent: 20px;
    background-color: #efefef;
    
}



#squadEnemyWindow {
    width: 357px;
    height: 522px;
}

#enemyPitch {
    border:3px solid #444;
    border-radius: 15px;
    
    width: 100%;
    z-index: 1;
}

.windowHeader2 {
    font-weight: 300;
    background-color: #ded;
    margin: 10px 0px 5px 0px;
    text-align:center;
    border-bottom: 1px dashed #999;
    font-size: 18px;
    
}

#mainContent {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    
}

#teamAnalize {

}

#mainContentCenter {
    width: 33%;
    border-right: 1px solid #999;
    padding: 2px 10px ;
}

#mainContentRight {
    width: 33%;
    padding: 2px 10px ;
}

#EnemyAnalizeDesc {
    font-size: 13px;
    font-weight: 300;
    text-align: justify;
    text-indent:2px;
    letter-spacing: 0px;
}

.resultIcon {
    content: 'Z';
    font-family: monospace;
    font-size: 18px;
    text-align: center;
    color: #111;
    width: 24px;
    height: 24px;
    border
    text-align: center;
    line-height: 24px;
    border-radius: 4px;
    border: 1px solid #444;
    margin-right: 10px;
}

.win {
    
    background-color: #9f9;
    
}

.lastMatchResult {
    display: flex;
    align-content: center;
    justify-content: left;
    margin-bottom: 2px;
}

.lastTeam {
    width: 30%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    
}

.actualRival {
    font-weight: 600;
}

.lastResult {
    width: 20%;
    text-align: center;
}

.lose {
    background-color: #f99;
}

.draw {
    background-color: #ff9;
}

.rivalFootballer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    height: 48px;
    margin: 8px 0px;
    border:1px dashed #ccc; 
}

.rivalFotballerImage {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    border:2px solid #444;
    border-radius: 3px;
}

.rivalFotballerRating {
    width: 20%;
    text-align: right;
    font-size:26px;
    margin-right: 10px;
    
}

#rivalFotballerInfo {
    width: 60%;
    display: grid;
    text-align: left;
    font-size: 16px;
    line-height: 16px;
}

.rivalFotballerPosition {
    font-size: 12px;
    text-indent: 5px;
}

.rivalFotballerImageCon {
    text-align: left;
}

.rivalFootballerNationality {
    height: 10px;
    margin-right: 2px;
    border:1px solid #444;
}

.rivalFotballerName {
    font-weight: 600
}

.miniDesc {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    text-indent: 3px;
}

.statsBarBackground {
    margin-top: -4px;
    width: 100%;
    height: 24px;
    background-color: #efefef;
    line-height: 12px;
    font-size: 14px;
    border: 1px solid #444;
    
}

.statsBarInsideLeague {
    height: 12px;
    background-color: #77f8;
    text-align: center;
    color:#007;
    
}

.statsBarInsideRival {
    height: 12px;
    background-color: #f77;
    text-align: center;
    color:#700;
}







.goodSite {
    margin: 0px;
    font-size: 17px;
    display: block;
}

.goodSide {
    background-color: #ded;
    padding: 10px;
    border:1px solid #bcb;
}

.badSide {
    background-color: #edd;
    padding: 10px;
    border:1px solid #cbb;
}

.formacja {
    font-size: 20px;
}

.betTypes {
    width: 100%;
    height: 64px;
    background-color: #eee;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #ccc;
    
}

.betType {
    display: flex;
    flex: 30%;
    margin: 1%;
    height: 48px;
    background-color: #fff;
    border-radius: 9px;
    
}

.bukLogo {
    width: 48px;
    height: 48px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

#rivalLegend {
    font-size: 11px;
    line-height: 10px;
}

.iconLegend {
    width: 24px;
    height: 12px;
    margin: 0px;
    display: inline-block;   
    margin-top: 3px;
    line-height: 12px;
}

.red {
    background-color: #f77;
}

.blue {
    
    background-color: #77f8;
}

.bet {
    flex: 10%;
    background-color: #eee;
    height: 20px;
    text-align: center;
    margin: 10px;
    margin-top: -5px;
}

.bet1x2 {
    flex:75%;
    height: 48px;
    display: flex;
    align-items: center;
    margin: 0px 5px;
    
}

.bet1::after {
    content: "1";
    width: inherit;
    display: block;
    font-size: 12px;
}

.bet0::after {
    content: "X";
    width: inherit;
    display: block;
    font-size: 12px;
}

.bet2::after {
    content: "2";
    width: inherit;
    display: block;
    font-size: 12px;
}

#leagueTable td{
    padding:1px 4px;
    margin:1px;
    background-color: #e7e7e7;
}

#leagueTable th{
    background-color: #dfd
}

#rivalTable td{
    background-color: #ada
}

#leagueTable {
    width: 100%;
}

#benchTable {
    width: 100%;
    text-align: center;
}



.tableDGrey {
    background-color: #e8e8e8;
}

.tableGrey {
    background-color: #f3f3f3;
}



#benchTable th{
    background-color: #ccc;
}

.benchTableName {
    text-align: left;
}

#pitch {
    width: auto;
    height: auto;
    position: relative;
}

.pitchPlayer {
    width: 50px;
    height: 65px;
    position: absolute;
    color: #111;
    
    margin-left: -40px;
    
}

.pitchPlayerKit {
    width: 100%;
}

.pitchPlayerNumber {
    width: 100%;
    text-align: center;
    margin-top: -50px;
    line-height: 50px;
    font-size: 22px;
    text-shadow: 1px 1px #fff
}

.pitchPlayerOverall {
    width: 35px;
    font-size: 23px;
    line-height: 25px;
    border-top-right-radius: 20px;
    border-bottom: 3px solid #c2a606;
    background-color: #e6d919;
    text-align: center;
    text-indent:-5px;
    margin-top:-33px;
    margin-left: 40px;
    letter-spacing: -2px;
}

.pitchPlayerName {
    width: 75px;
    margin-left: 5px;
    background-color: #ddd;
    text-align: center;
    line-height: 14px;
    font-size: 13px;
    border-bottom: 2px solid #999;

}

.gk {
    bottom:5px;
    left: 50%;
}

.lo {
    bottom:80px;
    left: 8px;
}

.po {
    right: 0px;
    bottom:80px;
}

.pso {
    bottom: 70px;
    right: 80px
}

.lso {
    
    bottom: 70px;
    left: 88px

}

.sso {
    bottom:70px;
    left: 50%;
}

.spd {
    left: 50%;
    bottom:135px
}
